tr.even {
    background-color: #f0f0f0;
}

tr:hover {
    background-color: #e0e0e0;
}

tr.odd {
    background-color: #ffffff;
}

th {
  position: sticky;
  background-color: white;
  z-index: 9999;
  top: 0;
}